@import url("https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap");
/* font-family: 'Ubuntu', sans-serif;
font-family: 'Varela Round', sans-serif; */

body {
  background-color: antiquewhite;
}
* {
  margin: 0;
  padding: 0;
}
/* navbar */
nav {
  font-family: "Ubuntu", sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  height: 3.5rem;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0 12px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}

/* container */

.container {
  width: 70%;
  min-height: 70vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 23px auto;
  border-radius: 12px;
  padding: 34px;
  background-image: url("covers/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#head-line {
  font-size: 2rem;
}
.songItem {
  height: 50px;
  display: flex;
  background-color: #fff;
  width: 100%;
  color: black;
  margin: 12px auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
}
.songItemContainer {
  margin-top: 74px;
}
.songItem img {
  height: 43px;
  margin: 0 23px;
  border-radius: 50px;
}
.timeStamp {
  margin: 0 23px;
}
.timeStamp i {
  cursor: pointer;
}
/* bottom */
.bottom {
  position: sticky;
  min-height: 100px;
  background-color: black;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.icons {
  margin-top: 14px;
}
.icons i {
  cursor: pointer;
  margin: 0 10px;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 0.3rem;
  background: #1db954;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 22px;
  width: 11px;
  border-radius: 10px;
  background: #1db954;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

#myProgressBar {
  width: 80vw;
  cursor: pointer;
}

.songInfo {
  position: absolute;
  font-family: "Varela Round", sans-serif;
  left: 10vw;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
@media only screen and (max-width: 800px) {
  .songInfo {
    position: static;
    margin: 0.6rem 0 0.2rem 0;
  }
}

@media only screen and (max-width: 600px) {
  .songItem {
    justify-content: flex-start;
    text-align: left;
    position: relative;
  }
  .songName {
    width: 4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .timeStamp {
    position: absolute;
    right: 0;
    top: 16px;
    align-self: center;
  }
}
